<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-content>
    <swiper [slidesPerView]="3" [pagination]="{ clickable: true }" [navigation]="true" [loop]="true">
      
      <ng-template swiperSlide>Slide 1</ng-template>
      
      <ng-template swiperSlide>e 2</ng-template>
      
      <ng-template swiperSlide>Slide 3</ng-template>
      
      <ng-template swiperSlide>Slide 4</ng-template>
      
      <ng-template swiperSlide>Slide 5</ng-template>
      
    </swiper>
  </ion-content>
</ion-app>
